
<div class="container">
  <div class="col-xs-ptm-10 col-xs-11 col-md-9 xs-pl-0 lg-pl-15 white ssd"
       style="border: 1px solid #f6f6f6;; padding-top: 20px; padding-bottom: 15px">
    <%= form_for :boost, :url => url_for(:controller => 'boost_mmr', :action => 'update') do |f| %>

      <div class="col-md-4">
          <div class="form-group">
            <%= f.label :login, 'Login'%>
            <%= f.number_field :login, {id: 'login', autocomplete: "off",
                                          class: "form-control form-control-lg cnt", style: "width:180px;", required: true}%>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :password, 'Password'%>
            <%= f.number_field :password, {id: 'password', autocomplete: "off",
                                          class: "form-control form-control-lg cnt", style: "width:180px;", required: true}%>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :email, 'Email'%>
            <%= f.number_field :email, {id: 'email', autocomplete: "off",
                                          class: "form-control form-control-lg cnt", style: "width:180px;", required: true}%>
          </div>
        </div>

        <% params.except(:action, :controller).each do |name, value| %>
            <%= f.hidden_field name.to_sym, :value => value %>
        <% end %>
        <%= f.hidden_field :user_id, value: current_user.id if current_user %>

        <%= f.submit "Next step", class: "btn btn-lg orange-button btn-block", style: 'margin-top: 3px;'%>
      <% end %>
  </div>
</div>