<div class="container">
  <h2>Preparation</h2>
  <%= params.except(:action, :controller) %>
  <%= link_to 'previous step', mmr_boost_path %>
  <%= link_to 'next step', checkout_path(params.except(:action, :controller)) %>
</div>