<li class="<%=  self_or_other(message) %>">
  <div class="avatar">
    <%= image_tag current_user.avatar_url, alt: current_user.nickname %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).nickname[0..5] %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>