<table class="table table-hover table-striped info-table">
  <tr>
    <th>Player ID</th>
    <th>Hero</th>
    <th>Level</th>
    <th>Items</th>
    <th>Kills</th>
    <th>Deaths</th>
    <th>Assists</th>
    <th><abbr title="Last hits">LH</abbr></th>
    <th><abbr title="Denies">DN</abbr></th>
    <th>Gold (spent)</th>
    <th><abbr title="Gold per minute">GPM</abbr></th>
    <th><abbr title="Experience per minute">XPM</abbr></th>
    <th><abbr title="Hero damage">HD</abbr></th>
    <th><abbr title="Tower damage">TD</abbr></th>
    <th><abbr title="Hero healing">HH</abbr></th>
  </tr>
  <% players.each do |player| %>
      <tr>
        <td>
          <% if player.abandoned_or_not_connected? %>
              <abbr class="text-muted" title="<%= player.status.titleize %>"><%= player.uid %></abbr>
          <% else %>
              <%= player.uid %>
          <% end %>
        </td>
        <td><%= render 'player_hero', hero: player.hero %></td>
        <td><%= player.level %></td>
        <td>
          <% player.items.each do |item| %>
              <% if item[:name] == "Empty" %>
                  <span class="empty"> </span>
              <% else %>
                  <%= image_tag item[:image], alt: item[:name], title: item[:name] %>
              <% end %>
          <% end %>
        </td>
        <td><%= player.kills %></td>
        <td><%= player.deaths %></td>
        <td><%= player.assists %></td>
        <td><%= player.last_hits %></td>
        <td><%= player.denies %></td>
        <td><%= player.gold %> (<%= player.gold_spent %>)</td>
        <td><%= player.gpm %></td>
        <td><%= player.xpm %></td>
        <td><%= player.hero_damage %></td>
        <td><%= player.tower_damage %></td>
        <td><%= player.hero_healing %></td>
      </tr>
  <% end %>
</table>