<% page_header 'Your matches' %>

<script type="text/javascript">

    $(document).ready(function () {
        $('#an-id').trigger('click');
    });

</script>

<% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index +=1 %></td>
      <td><%= user.nickname %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation", id: "an-id", style: "display: none",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
    </tr>
<% end %>

<hr>

<% if @matches && @matches.any? %>
    <table class="table table-striped table-hover info-table">
      <% @matches.each do |match| %>
          <tr>
            <td>
              <%= render 'player_hero', hero: current_user.played_for_in(match) %>
              <%= current_user.played_for_in(match)[:localized_name] %>
              <% current_user.player_items(match).each do |item| %>
                  <% if item[:name] == "Empty" %>
                      <span class="empty"> </span>
                  <% else %>
                      <%= image_tag item[:image], alt: item[:name], title: item[:name] %>
                  <% end %>
              <% end %>
              <%= link_to match.started_at.strftime("%d.%m.%Y %H:%M"), match_path(match) %>
              <% if current_user.won?(match) %>
                  <span class="label label-success">won</span>
              <% else %>
                  <span class="label label-danger">lost</span>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>


