@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome';
@import 'image-picker';
@import 'toastr';
@import 'bootstrap-select';

@import url('https://fonts.googleapis.com/css?family=Kavivanar');
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

$radiant: #92A524;
$dire: #C23C2A;

$brand: rgb(238, 137, 9);


body {
  background: #e4ebf0;
}

.container {
  width: 1050px !important;
  padding-right:0;
  padding-left:0;
  border-radius: 3px;
}

.btn-default {
  height: 35px;
  background: white;
  outline: none;
  box-shadow: none;
}

.white {
  background: white;
}

.title-text-exo{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.text-exo{
  font-family: Exo, sans-serif;
  font-size: 14px;
  color: #333;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
  color: whitesmoke !important;
  background: $brand !important;
}

.ctitle {
  perspective: 626px;
  color: #242a2e;
  font-size: 38px;
  font-weight: 200;
  text-align: center;
}

.image-in-input{
  float: right;
  margin-top: -30px;
  margin-left: -55px;
}

.form-group > label {
  /*font-family: Arial,sans-serif;*/
  font-family: Exo, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  font-weight: 300;
}

.chsnhr{
  margin-top: 6px;
  padding-top: 6px;

  padding-left: 6px;
  color: #394d5a;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  height: 35px;
  font-family: Exo, sans-serif;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ttlprc{
  margin-top: 6px;
  padding-top: 6px;
  background: #f8f8f8;
  padding-left: 6px;
  color: #394d5a;
  font-size: 15px;
  border: 1px solid #e0e0e0;
  height: 35px;
  font-family: Exo, sans-serif;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Count {
  color: #27ae60;
  font-weight: bold;
  font-size: 32px;
  width: 180px;
  height: 35px;
  font-family: Exo, sans-serif;
}

.Time{
  color: #ee8909;;
  font-weight: bold;
  font-size: 19px;
  width: 180px;
  height: 35px;
  font-family: Arial,sans-serif;
}

.steps-container{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  border: 1px solid #f6f6f6;
}

.no-right{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.steps {
  width: 6px;
  height: 60px;
  border-radius: 5px;
  background-color: #ee8909;
  box-shadow: 0 0 8px 0 #ee8909;
}

/*.steps {
  width: 6px;
  height: 97px;
  border-radius: 0;
  background-color: #ee8909;
  box-shadow: 0 0 8px 0 #ee8909;
  left: 0;
  margin-left: -15px !important;
  position: absolute;
}*/

.stepsun {
  width: 6px;
  height: 60px;
  border-radius: 5px;
  background-color: #cac5c5;
}

.form-boost{
  color: #27ae60;
  font-weight: bold;
  font-size: 45px;
  width: 180px;
  height: 35px;
  font-family: Exo, sans-serif;
  border-radius: 4px;
}

.form-control{
  color: #394d5a;
  font-size: 15px;
  width: 180px;
  height: 35px;
  font-family: Exo, sans-serif;
  padding-left: 65px;
  border-radius: 4px;

}

.astep{
  color: #cac5c5 !important;
}

.form-control-without-padding{
  color: #394d5a;
  font-size: 14px;
  width: 120px;
  height: 35px;
  font-family: Exo, sans-serif;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
}


.form-control:focus {
  border-color: #FF7F00;
  outline: none;
  box-shadow: none;
}

.nav-pills>li>a{
  font-family: Arial,sans-serif;
  background: white;
  font-size: 15px;
  color: #394d5a;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  font-family: Arial,sans-serif;
  font-size: 15px;
  background-color: rgb(238, 137, 9);
}

nav {
  img {
    max-width: 48px;
    border-radius: 50%;
  }
}

.dire {
  color: $dire;
}

.radiant {
  color: $radiant;
}

.info-table {
  img {
    width: 40px;
  }

  .empty {
    width: 40px;

  }
}

ul.thumbnails.image_picker_selector li {
  display: block;
}

.coupon{
/*  font-family: Arial,sans-serif;*/
/*  font-weight: bold;
  text-transform: uppercase;*/

  text-decoration: underline;
  font-family: arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  font-size: 13px;
  color: #333;

}

.coupon:hover{
  color: $brand;
}

ul.thumbnails.image_picker_selector li.group_title {
  font-size: 24px;
  line-height: 20px;
  font-family: 'Kavivanar', cursive;
  float: none;

}

.turbolinks-progress-bar {
  background: darkorange;
  color: darkorange;
}

.thumbnails li img{
  width: 77px;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected{


  background-color: darkorange;

}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input.largerCheckbox
{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid $brand;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

}

label.largerCheckbox{
  cursor: pointer;
  color: $brand;
  font-family: Exo, sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding-left: 20px;
  max-width: 240px;
  float: right;
  position: absolute;
}



input:checked.largerCheckbox{

}

input:checked.largerCheckbox:before{

  position: absolute;
  background-image: url('http://www.clker.com/cliparts/7/e/E/x/r/Z/orange-check-mark.svg');
  background-repeat: no-repeat;
  background-size: auto 32px;
  margin-left: 4px;
  margin-top: 1px;
  display: inline-block;

  width: 40px;
  height: 40px;
  content: "";
  color: $brand;

}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 530px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}


.chatbox {
  position: fixed;
  position: expression("absolute");
  width: 280px;
  display: none;
}

.chatboxhead {
  background: #666;
  color: white;
  padding: 0.5rem;
  overflow: hidden;

  border-right: 1px solid rgba(85, 85, 85, 0.87);
  border-left: 1px solid rgba(85, 85, 85, 0.87);
}

.chatboxhead h1 {
  display: inline;
  font-size: 17px;
  font-weight: 700;
}

.chatboxblink {
  background-color: #176689;
  border-right: 1px solid #176689;
  border-left: 1px solid #176689;
}

.chatboxcontent {
  font-family: arial, sans-serif;
  height: 280px;
  width: 280px;
  overflow-y: auto;
  padding: 7px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
  background: #e5e5e5;
  line-height: 1.3em;
  list-style: none;
}

.chatboxcontent li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.chatboxcontent .avatar {
  width: 40px;
  position: relative;
}

.chatboxcontent .avatar img {
  display: block;
  width: 100%;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .chatboxmessagecontent {
  order: 1;
  border-bottom-right-radius: 0;
}

.self .avatar {
  order: 2;
}

.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
  font-size: 12px;
  margin: 0 0 0.2rem 0;
  -ms-word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.chatboxmessagecontent time {
  font-size: 9px;
  color: #ccc;
}

.chatboxinput {
  padding: 5px;
  background-color: #ffffff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
  width: 262px;
  height: 44px;
  padding: 3px 0pt 3px 3px;
  border: 1px solid #eeeeee;
  margin: 1px;
  overflow: hidden;
  resize: none !important;
}

.chatboxtextareaselected {
  border: 2px solid #878787;
  margin: 0;
}

.chatboxmessage {
  margin-left: 1em;
}

.chatboxinfo {
  margin-left: -1em;
  color: #666666;

}

.chatboxoptions {
  float: right;
}

.chatboxoptions a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.chatboxtitle {
  float: left;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  margin-bottom: 0;
}

.orange-button{

  border-radius: 0;
  background-color: #f80!important;
  color: #fff!important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.orange-button:hover{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12);
}

.couponModal {
  border: 5px dashed white;
  background-color: $brand;

  img {
    right: 0;
    top: 0;
    margin-top: -30px;
    width: 100px;
  }
}

.couponText{
  color: white;
  font-family: 'Indie Flower', cursive;
  -webkit-transform: rotate(-7deg); //Chrome, Safari
  -moz-transform: rotate(-7deg); //Firefox
  -o-transform: rotate(-7deg); //Opera
  -ms-transform: rotate(-7deg); //IE
  transform: rotate(-7deg); //браузеры без префексов
}